/* 用户输入框 */
#inputLineEdit {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 16px;
    min-width: 180px;
}

#inputErrHintLabel {
    background-color: #fa5555;
	color: #ffffff;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
}

/* 错误网络连接提示语 */
#networkErrLabel {
    background-color: #fa5555; 
    color: #ffffff; 
    border-radius: 4px; 
    padding: 4px 8px; 
    font-size: 16px;
}

/* 添加自选按钮、添加组合按钮 */
#addNewPortfolioBtn, #addNewStockBtn {
    background-color: #238dfa;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
#addNewPortfolioBtn:hover, #addNewStockBtn:hover {
    background-color: #096dd9;
}

/* 下拉框 */
#portfolioComboBox {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    min-width: 140px;
}

/* 删除组合按钮（红色） */
#delPortfolioBtn {
    background-color: #fa5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
#delPortfolioBtn:hover {
    background-color: #c32222;
}

/* 重命名组合按钮 */
#renameBtn {
    background-color: #ffa940;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}       
#renameBtn:hover {
    background-color: #d48806;
}