/*  */
#SettingPage {
	background: #000000;
}

QLabel {
	color: white;
}

/* 滑块的基本样式 */
#backlightHarSlider::handle:horizontal,
#soundHarSlider::handle:horizontal {
    background: #3498db;              /* 滑块颜色，可根据需要调整 */
    width: 32px;                       /* 滑块宽度 */
    height: 32px;                      /* 滑块高度 */
    border-radius: 16px;               /* 圆形滑块 */
    margin: -12px 0;                   /* 保证滑块在槽中居中 */
}

/* 槽的基本样式 */
#backlightHarSlider::groove:horizontal,
#soundHarSlider::groove:horizontal {
    background: #dddddd;               /* 可自定义槽体颜色 */
    height: 8px;                       /* 槽体厚度 */
    border-radius: 4px;
}

/* 进度填充颜色 */
#backlightHarSlider::sub-page:horizontal,
#soundHarSlider::sub-page:horizontal {
    background: #3498db;
    border-radius: 4px;
}

/* 其它部分填充颜色 */
#backlightHarSlider::add-page:horizontal,
#soundHarSlider::add-page:horizontal {
    background: #e0e0e0;
    border-radius: 4px;
}

/* 禁用状态下滑块的样式 */
#backlightHarSlider::handle:disabled,
#soundHarSlider::handle:disabled {
    background: #cccccc;               /* 修改为灰色 */
}

/* 禁用状态下槽的样式 */
#backlightHarSlider::groove:disabled,
#soundHarSlider::groove:disabled {
    background: #eeeeee;               /* 修改为灰色 */
}

/* 禁用状态下的进度填充样式 */
#backlightHarSlider::sub-page:disabled:horizontal,
#soundHarSlider::sub-page:disabled:horizontal {
    background: #bbbbbb;               /* 设为较浅的灰色 */
    border-radius: 4px;
}

#soundCheckBox {
    color: white;
}

/* 复选框的样式 */
/* 未选中效果 */
#soundCheckBox::indicator {
    width: 28px;
    height: 28px;
    border: 2px solid #bbb;    /* 原色描边 */
    border-radius: 6px;
    background: #222;           /* 外部原色或透明 */
}

/* 选中效果 */
#soundCheckBox::indicator:checked {
    border: 2px solid #bbb;     /* 外部还是原色 */
    border-radius: 6px;
    background: 
        qradialgradient(cx:0.5, cy:0.5, radius:0.8, fx:0.5, fy:0.5,
            stop:0 #08f,    /* 内部较深蓝 */
            stop:0.7 #08f,
            stop:1 transparent); /* 虚化边，或直接用白色圆心，要动感可加渐变 */
}
